{% extends "app_base/base.html" %}
{% load static %}
{% block links %}
{% endblock %}
{% block content %}
    <h1>main page</h1>
    <h1>User {{ user }}</h1>
    {% if user.is_authenticated %}
    <a href="{% url 'users:logout' %}">вийти</a>
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}
        {{ login_form.as_p }}
        <button type="submit" name="login_submit">форма логін</button>
    </form>

    <form action="" method="post">
        {% csrf_token %}
        {{ register_form.as_p }}
        <button type="submit" name = 'register_submit'>форма регістер</button>
    </form>
{% endblock %}